@import "veriable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $ikincirenk;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

nav {
  background-color: $anarenk;
  box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.1);
  position: relative;
  width: 100vw;
  .left {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    .icon {
      margin-right: 8px;
      @media screen and (max-width: 850px) {
        margin-right: 5px;
      }
    }
  }

  .right {
    input {
      position: absolute;
      appearance: none;
    }
    input:checked ~ .menu-icon {
      border: 1px solid #fff;
    }

    .menu-icon {
      font-size: 2rem;
      border-radius: 2px;
      padding: 4px;
      display: none;
      cursor: pointer;

      @media screen and (max-width: 850px) {
        display: block;
      }
    }

    .menu-bar {
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 850px) {
        display: block;
        background-color: $anarenk;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0px;

        overflow-y: hidden;
        opacity: 0;

        &.active {
          border-top: 1px solid rgba($color: #fff, $alpha: 0.3);
          transition: all 0.2s ease-in;
          height: auto;
          opacity: 1;
          overflow-y: auto;
        }
      }

      li {
        font-size: 18px;
        list-style: none;
        margin-right: 1rem;
        padding: 8px 18px;
        cursor: pointer;
        background-color: $ikincirenk;
        color: $anarenk;
        outline: none;
        border-radius: 5px;
        @media screen and (max-width: 850px) {
          font-size: 21px;
          margin-right: 0;
          text-align: center;
          padding: 15px 0;
          width: 100%;
          border-radius: 0;
          background-color: $anarenk;
          color: $ikincirenk;
          &:hover {
            background-color: $ikincirenk;
            color: $anarenk;
          }
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 1.5rem 5%;
    @media screen and (max-width: 1300px) {
      padding: 1.5rem 2%;
    }
    @media screen and (max-width: 850px) {
      padding: 1.5rem 5%;
    }
  }
}

.main-one {
  width: 90vw;
  margin: 0 auto;
  @media screen and (max-width: 1400px) {
    width: 99vw;
  }
  h1 {
    color: black;
    text-align: center;
    margin: 1rem 0 0.5rem;
    font-size: 2.2rem;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    .post {
      cursor: pointer;
      background-position:center;
      background-repeat:no-repeat;
      background-size: cover;
      margin: 10px;
      height: 70vh;
      border-radius: 50px;
      position: relative;
      flex: 0.5;
      transition: flex 0.5s ease-in;
      @media screen and (max-width: 1200px) {
        margin: 10px 5px;
      }
      h3 {
        position: absolute;
        bottom: 2rem;
        left: 1rem;
        font-size: 25px;
        opacity: 0;
        @media screen and(max-width:950px){
          display: none;
        }
      }
      &.active {
        flex: 5;
        h3 {
          display: inline-block;
          opacity: 1;
          transition: opacity 0.4s ease-in 0.4s;
        }
      }
    }
  }
}

.main-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100vw;
  button {
    padding: 8px 20px;
    font-size: 21px;
    background-color: $anarenk;
    border: none;
    border-radius: 4px;
    outline: none;
    margin: 15px;
    cursor: pointer;
    &:active {
      transform: scale(0.98);
    }
    &:disabled {
      cursor: not-allowed;
      background-color: grey;
    }
  }
  .container-box {
    width: 450px;
    position: relative;
    
    @media screen and (max-width: 550px) {
      width: 90vw;
    }

    &::before {
      content: "";
      width: 100%;
      z-index: -1;
      height: 4px;
      background-color: grey;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .container-box-bar {
      width: 0;
      z-index: -1;
      height: 4px;
      background-color: $anarenk;
      position: absolute;
      top: 50%;
      transition: 0.3s ease-in;
      transform: translateY(-50%);
    }
    .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .circle {
        background-color: #fff;
        color: black;
        border: 3px solid rgb(177, 177, 177);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        transition: 0.4s ease-in;
        &.actives {
          border: 3px solid $anarenk;
        }
      }
    }
  }
}

.main-three {
  background-color: $anarenk;
  width: 100vw;
  margin-top: 4rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    h1 {
      color: #fff;
      margin: 2.5rem 0;
      font-size: 1.9rem;
    }
    .box-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .box {
        background-color: #fff;
        color: $anarenk;
        font-weight: 700;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        margin: 0 .5rem;
        border-radius: 3px;
        @media screen and (max-width: 550px) {
            width: 75px;
            height: 75px;
            font-size: 1.7rem;
          }
      }
    }
  }
}
footer {
  height: 500px;
}
